body{
  background-color: #243D25;
  font-family: Genos;
  line-height: 16px;
  text-align: center;
  display: block;
  margin: 8px;
  padding: 5px
}

h1{
  color: #FAD9E6;
  line-height: 32px;
  font-size: 48px;
}

h3 {
  font-size: 36px;
  color: #FAD9E6;
  text-decoration: underline;
}

a {
  color: #243D25;
  font-size: 32px;
  padding: 8px;
  text-decoration: none;
}

a:hover {
  color: #FAD9E6;

}

p {
  line-height: 6px;
  font-size: 24px;
  text-align: center;
}

.container {
  text-align: center;
  margin: auto;
  width: 95%;
}

.img-circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
  height: auto;
  width: auto;
  box-shadow: 3px -3px 1px black;
}

.pink-button {
  background-color: #E4AEC5;
  color: white;
  padding: 10px 10px;
  border-radius: 4px;
}

.card {
  background-color:#5F7464;
  padding: 10px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.list-inline {
  list-style: none;
  padding: 0px;
}

.list-inline li {
  display: inline;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
